---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="author" content="Silfrido Benítez">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/iso.svg" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:url" content="" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/seo.jpg" />
	
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="/seo.jpg" />

		<title>{title}</title>
	</head>
	<body>
		<Header />
		
		<slot />
		
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		/* --accent: 136, 58, 234;  */
		--principal: #26acdd; 
		--white: #ffffff;
		--black: #000000;
		--accent: 38, 172, 221; 
		/* --accent-light: 224, 204, 250; */
		--accent-light: 255, 255, 255;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--font-hero: 4.2rem;
		--font-seccion: 2.4rem;
		--border-radius: 1rem;
	}
	*, *:after, *:before{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	} 
	html {
		font-family: system-ui, sans-serif;
		min-height: 100vh;
		background-color: rgb(3 7 18 / 1);
		/* background-image: radial-gradient(ellipse 80% 80% at 50% -20%, #7877c64d, #fff0); */
	}
	.container{
        max-width: 1180px;
		width: 100%;
		margin: 0 auto;
		padding: 0 1rem;
    }

</style>
